<h1>
  <strong><%= @company.name %></strong> - <%= @company.description %>
</h1>
<br />
<h4>
  Employees of <%= @company.name %>
</h4>
<table class="table">
  <tr>
    <th>Name:</th>
    <th>Job:</th>
  </tr>
  <% @company.employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.name, company_employee_path(@company, employee) %></td>
    <td><%= employee.job %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add Employee', new_company_employee_path(@company), :class => "btn btn-primary" %>
 | <%= link_to 'Edit Company', edit_company_path(@company), class: "btn btn-default" %>
<%= link_to 'Delete Company', @company, method: :delete, data: { confirm: 'Are You really sure to delete this company?' }, :class => "btn btn-danger" %>
 | <%= link_to 'Back', companies_path, class: "btn btn-default" %>
